@media (orientation: landscape) {
    div#side-nav {
	border-right: 3px solid black;
	padding: 5px;
    }
}

@media (orientation: portrait) {
   div#side-nav {
       padding: 5px;
   }
}

input.side-prompt {
    width: 100%;
}

a.side-active {
    pointer-events: none;
    cursor: default;
    color: black;
    text: bold;
}

.hideme {
    visibility: hidden;
    width: 0px;
    height: 0px;
    margin: 0px;
    border-width: 0px;
    padding: 0px;
    position: fixed;
}

form.not-form {
    margin: 0px;
}

div#content {
    padding: 0px 0px 0px 5px;
    float: right;
}

table.standings {
    table-layout: fixed;
    border-collapse: collapse;
    border: 2px solid black;
    width: 95%;
    padding: 2px
}

th.table-task, td.table-task {
    font-family: sans-serif;
    text-align: center;
}

th.table-name, td.table-name {
    text: bold;
    width: 100px;
}

th.table-done0, td.table-done0 {
    background-color: white;
}

th.table-done1, td.table-done1 {
    background-color: green;
}

th.table-done2, td.table-done2 {
    background-color: orange;
}

h3.header-name {
    margin: 5px;
}

input.button-neu {
    font-family: sans-serif;
}

input.button-done {
    background-color: #53BC3F;
}
