{% extends "base.html" %}
{% block title %}Manual{% endblock %}
{% block contents %}
<h3 class="header-name">Руководство<h3>
    <h5></h5>
    <p>
      На индексе можно посмотреть все контесты и их результаты.
    <p>
      У контеста есть:
      <ul>
	<li>Название</li>
	<li>Ссылка</li>
	<li>Кто решал</li>
	<li>Задачи (названия свободные)</li>
	<li>Самое важное: если потыкать на клеточки то можно дорешивать задачки.</li>
      </ul>
    <p>
      Ссылка на добавление нового контеста внизу страницы.
    </p>
    <h5>Новый контест</h5>
    <p>
      Необходимо ввести:
      <ul>
	<li>Название</li>
	<li>Ссылка</li>
	<li>Кто решал</li>
	<li>Задачи (названия свободные)</li>
	<li>Клик на клетку - задача отмечена.</li>
      </ul>
    </p>
    <h5>Система</h5>
    <p>
      Контесты можно руками изменять в data.json.
    </p>
{% endblock %}
