{% extends "base.html" %}
{% block title %}Manual{% endblock %}
{% block contents %}
<h3 class="header-name">Руководство<h3>
    <h4>Индекс</h4>
    <p>
      На индексе можно посмотреть все контесты и их результаты.
    <p>
      У контеста есть:
      <ul>
	<li>Название</li>
	<li>Ссылка</li>
	<li>Кто решал</li>
	<li>Задачи (названия свободные)</li>
	<li>Самое важное: если потыкать на клеточки то можно дорешивать задачки.</li>
      </ul>
    <p>
      Ссылка на добавление нового контеста внизу страницы.
    </p>
    <h4>Новый контест</h4>
    <p>
      Необходимо ввести:
      <ul>
	<li>Название</li>
	<li>Ссылка</li>
	<li>Кто решал</li>
	<li>Задачи (названия свободные)</li>
      </ul>
    <p>
      Клик на клетку - задача отмечена. <br>
      Клик на имя участника/задачи - удаление.
    </p>
    <h4>Система</h4>
    <p>
      Контесты можно руками изменять в data.json.
    </p>
{% endblock %}
